Package: com.34306.fps
Name: FPS Counter
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: A simple tweak that show FPS ingame.
Maintainer: Little 34306
Author: 34306
Section: Tweaks
